@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	height: 100%;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





h1 {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #ffffff 57%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(57%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#ffffff 57%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#ffffff 57%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#ffffff 57%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#ffffff 57%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin: 10px 5%;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

body {
	background: #000;
	min-width: 1024px;
}

div#menu {
	background: #6f1d20; /* Old browsers */
	background: -moz-linear-gradient(top,  #6f1d20 0%, #992520 74%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f1d20), color-stop(74%,#992520)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6f1d20 0%,#992520 74%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6f1d20 0%,#992520 74%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6f1d20 0%,#992520 74%); /* IE10+ */
	background: linear-gradient(to bottom,  #6f1d20 0%,#992520 74%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f1d20', endColorstr='#992520',GradientType=0 ); /* IE6-9 */

	font-size: 18px;
	font-family: "ヒラギノ明朝 Pro", ＭＳ Ｐ明朝, MS PMincho, Hiragino Mincho Pro, serif;
	margin: 10px 5% 5px 5%;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

a {
	color: #332b17;
	margin-left: 30px;
	margin-right: 30px;
}

a:link {
	color: #debe69;
	text-decoration: none;
}

a:visited {
	color: #c9a350;
	text-decoration: none;
}

div#content {
	height: 100%;
	margin: 10px 5%;
	overflow: hidden;
}

div#pictures {
	float: left;
	margin-top: 55px;
	text-align: center;
	width: 42.5%;
}

div#pictures img {
	border: solid #992520 2px;
	padding: 4px 4px;
	width: 90%;
}

div#main {
	background: #c9a44f; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9a44f 0%, #debe69 30%, #debe69 70%, #c9a44f 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9a44f), color-stop(30%,#debe69), color-stop(70%,#debe69), color-stop(99%,#c9a44f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9a44f 0%,#debe69 30%,#debe69 70%,#c9a44f 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9a44f 0%,#debe69 30%,#debe69 70%,#c9a44f 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9a44f 0%,#debe69 30%,#debe69 70%,#c9a44f 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9a44f 0%,#debe69 30%,#debe69 70%,#c9a44f 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9a44f', endColorstr='#c9a44f',GradientType=0 ); /* IE6-9 */

	float: left;
	font-size: 18px;
	margin-right: 60px;
	min-height: 370px;
	padding: 30px;
	text-align: left;
	vertical-align: middle;
	width: 42.5%;
}

h2 {
	color: #992520;
	font-family: "ヒラギノ明朝 Pro", ＭＳ Ｐ明朝, MS PMincho, Hiragino Mincho Pro, serif;
	font-size: 22pt;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
}

h2.menu {
	font-size: 18pt;
	margin-bottom: 20px;
}

h2.name {
	text-align: left;
}

h2 span {
	background: #b49a1a; /* Old browsers */
	background: -moz-linear-gradient(left,  #b49a1a 0%, #ceb04d 45%, #ceb04d 55%, #b49a1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b49a1a), color-stop(45%,#ceb04d), color-stop(55%,#ceb04d), color-stop(100%,#b49a1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #b49a1a 0%,#ceb04d 45%,#ceb04d 55%,#b49a1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #b49a1a 0%,#ceb04d 45%,#ceb04d 55%,#b49a1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #b49a1a 0%,#ceb04d 45%,#ceb04d 55%,#b49a1a 100%); /* IE10+ */
	background: linear-gradient(to right,  #b49a1a 0%,#ceb04d 45%,#ceb04d 55%,#b49a1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b49a1a', endColorstr='#b49a1a',GradientType=1 ); /* IE6-9 */

	border: solid #783E26 3px;
	padding: 10px 20px;
	-webkit-box-shadow: 4px 6px 20px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    4px 6px 20px rgba(50, 50, 50, 0.3);
	box-shadow:         4px 6px 20px rgba(50, 50, 50, 0.3);
	font-family: "ヒラギノ明朝 Pro", ＭＳ Ｐ明朝, MS PMincho, Hiragino Mincho Pro, serif;
}

h3 {
	color: #992520;
	font-family: "Times New Roman";
	font-size: 16pt;
	margin-top: 18px;
	margin-bottom: 4px;
}

p {
	color: #605132;
	font-family: "ヒラギノ明朝 Pro", ＭＳ Ｐ明朝, MS PMincho, Hiragino Mincho Pro, serif;
	font-size: 12pt;
}

p.loading {
	color: #322a1a;
	padding: 20px 0;
}

p.titre {
	color: #992520;
	font-size: 14pt;
	margin: 5px 2px;
	margin-top: 15px;
}

p.content {
	margin-left: 10px;
	margin-top: 15px;
}

p.tva {
	color: #6B5B36;
	font-size: 10pt;
	margin-top: 50px;
	text-align: right;
}

table {
	width:480px;
}

td {
	color: #473C23;
	font-family: "ヒラギノ明朝 Pro", ＭＳ Ｐ明朝, MS PMincho, Hiragino Mincho Pro, serif;
	line-height: 1.6em;
}

td.text {
	font-size: 12pt;
	text-align: left;
}

td.price {
	font-size: 11pt;
	text-align: right;
}

#slideshow {
    position:relative;
    width: auto;
}

#slideshow img {
    position:absolute;
    top:8%;
    left:8%;
    z-index:8;
}

#slideshow img.active {
    z-index:10;
}

#slideshow img.last-active {
    z-index:9;
}
